
link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

script(type='text/javascript', src='bower_components/angular/angular.min.js')

script(type='text/javascript', src='app/app.js')


body(ng-app='app')
    .container
        .row
            h1 NXOCORP PROJECTS
            div(ng-controller='mainCtrl')
               .list-group
                    a.list-group-item(href='#')(ng-repeat="project in projects")
                        h4.list-group-item-heading {{ project.title }}
                        p.list-group-item-text {{ project.description }}
                        p.list-group-item-text {{ project.tags }}